[2017-04-04 12:14] squapp opened #3 "Scope of media streaming/playback use cases"
What are your thoughts on the scope of media streaming and playback use cases?

For example, let's take 2.1 On-Demand Streaming:
Does the code sample include a Manifest file (DASH/HLS)? I think it should, otherwise there will be difference to 2.2 Live Streaming, because the same segments can be used for on-demand and live.

Is it an accessible Manifest file (e.g. referencing segments that are host

[2017-04-07 17:05] michelnev commented on #3
Regarding MSE/EME: Thinking about this from a developer's perspective, I would like to see code samples.   I would also expect to have a way to test the code, so, yes, test vectors are a must.

[2017-04-14 20:10] boyofgreen opened #4 "addition of developer "best practices" statement to document"
I'd like to propose a new section to the document that clarifies our support for common Web Development best practices.  I think this could be it’s own section, or it can be a section of the introduction (I’m leaning towards a section of the introduction).  Here are my thoughts:

This document is squarely aimed at support developers who are building Media based web applications.  For that reason t

[2017-04-14 22:56] mavgit commented on #4
I think that, likewise, we should have a reference to these developer guidelines in the "Web Media APIs 2017" spec. I see the Web Media APIs 2017 spec as targeted at device platform developers, not app developers. But it would make sense to point from Web Media APIs 2017 to this document for readers of Web Media APIs 2017 who are app developers. Make sense?

[2017-04-18 15:02] boyofgreen commented on #4
I agree, we want to be clear in both documents who the audience is for that document.  We should link the docs so the right audiences get to the right doc.  When I turn this into a PR, I'll add text and links in for that.

[2017-04-18 16:15] squapp commented on #4
For this particular example, we could also reference existing/working code from open source players, e.g. [dash.js](https://github.com/Dash-Industry-Forum/dash.js/blob/development/src/streaming/protection/Protection.js)
It also handles different versions of EME that can be found on various platforms

[2017-04-18 16:17] squapp commented on #3
I will try to come up with different options for code samples. That should make it easier to decide

[2017-04-19 01:08] joelkorpi commented on #4
I agree, we should have a best practices section as well as an introduction describing the target audience (with links to Web Media APIs 2017). I can also obviously provide examples for use with JW Player and any other open source video player.

[2017-04-21 15:48] boyofgreen commented on #4
that makes sense.  I am going to put this into a PR, but I would be happy to have one of you update the sample.

[2017-04-27 22:20] joelkorpi commented on #4
This was discussed today at the F2F and the concern was brought up that we want to produce code examples that have the longest shelf life possible and do not want to increase the scope of these guidelines to move beyond a few examples. Describing best practices for every technology/standard/format/codec would expand the scope of the guidelines beyond our initial target.

I propose that we include

[2017-04-27 22:27] joelkorpi opened #5 "Scope clarification for guidelines"
After talking with @thasso today at the F2F, we propose that we should clearly define and limit the scope of v1 of the guidelines to not include superfluous content. I propose that, for example, we  NOT include full player implementation examples with code samples and configurations, but rather we discuss overall guidelines for implementations and link to specific technology implementation guideli

[2017-05-02 22:14] andybeach commented on #5
i noticed the guidelines are missing CC/subtitles.  there will be a lot of requests for clarification on accessibility in the initial draft.

[2017-05-04 15:08] joelkorpi commented on #5
@andybeach Great point Andy. I think we should track this as it's own issue as it's very important. Would you mind posting a new issue that we can track this under? I'll make sure it's also included in the scope.

[2017-05-04 15:08] thasso commented on #5
I agree with @joelkorpi that keep the first iteration short and focus on the main issues.

[2017-05-04 15:09] andybeach commented on #5
Will do

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Joel Korpi <notifications@github.com>
Sent: Thursday, May 4, 2017 8:08:14 AM
To: w3c/webmediaguidelines
Cc: Andy Beach; Mention
Subject: Re: [w3c/webmediaguidelines] Scope clarification for guidelines (#5)

@andybeach<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fandybeach&dat

[2017-05-04 15:11] joelkorpi commented on #5
Also, as discussed on the weekly call yesterday, in regards to code examples, sample players, and all additional samples: All examples we link to will be stored in a repository that we can link to and also clone and host (within CTA/W3C) if we choose.

[2017-05-04 15:43] joelkorpi commented on #5
Proposed scope definition is below. Please comment on any changes @thasso @boyofgreen

[2017-05-04 17:29] joelkorpi commented on #3
With regards to the manifest, the proposed decision is: WAVE should maintain a pool of “gold-standard, known-good” manifest-level content produced and/or blessed by DASH-IF and Apple that can be referenced for testing, etc.

If there's an additional issue for MSE/EME let's open another issue for that.

[2017-05-04 17:31] andybeach opened #7 "Missing topic: Accessibility"
the initial draft should include guidance on closed captions/subtitling as all customers will have some sort of requirement around it.

[2017-05-05 01:04] mavgit commented on #7
I suggest generalizing this to support for [W3C Web Content Accessibility Guidelines](https://www.w3.org/WAI/intro/wcag) (which includes captions and a lot more).

[2017-05-09 15:08] joelkorpi commented on #5
Additional notes from @mavgit
"I've always assumed that while WAVE overall applies to both HTML and non-HTML apps (e.g. the content spec) , the two WAVE HATF specs are  of limited application to only HTML apps and have no applicability to non-HTML apps."

[2017-05-11 15:09] joelkorpi commented on #5
Issue has been closed

[2017-05-11 15:09] #5 closed, assigned to nobody

[2017-05-11 15:09] joelkorpi commented on #4
Issue has been closed

[2017-05-11 15:09] #4 closed, assigned to nobody

[2017-05-11 15:09] joelkorpi commented on #3
Issue has been closed

[2017-05-11 15:09] #3 closed, assigned to nobody

[2017-05-18 15:49] boyofgreen opened #8 "recomendations for shaping document"
On the Editor's call this morning, we talked a bit about the direction of the document, and wanted to get the full consensus of the team.  Thasso brought up a good point that most developers will be approaching media content from a player perspective.  The content as we have it now basically teaches that how to build a player from scratch, which is probably not reasonable or desirable for most dev

[2017-05-22 10:07] edwardmhunton opened #9 "section 2.2 - VOD use cases"
These are some topics that came out a discussion on VOD specific use cases here at Sky:

- Pre-caching vod
- Device storage / local storage
- Late binding Audio switching tracks (up to 12) live and vod
- Bitrate capping
- Buffer manipulation (device / storage dependant)
- Vod assets remain at the edge longer
- President unique ID exposed via js - signed code issue
- HTTP byte range requests
- HTTP

[2017-05-22 17:09] mavgit commented on #8
Thanks for the notes. Sorry I had a conflict & had to miss it.

This discussion brings up a question to me: Should WAVE be trying to standardize the interface between applications and players?

Thanks,
mav

From: Jeff Burtoft <notifications@github.com>
Reply-To: w3c/webmediaguidelines <reply@reply.github.com>
Date: Thursday, May 18, 2017 at 11:49 AM
To: w3c/webmediaguidelines <webmediaguidelines@n

[2017-05-22 22:00] boyofgreen commented on #8
Good question.  What would something like that look like?  Would this be an API layer or sorts that would sit on top of the players (kinda like a cordova style API layer?). This wouldn't be my first thought.

[2017-05-22 22:03] boyofgreen commented on #9
I would suggest to get them in the outline at the appropriate places, then we will look for volunteers to build out the examples.  Note, we are discussion removing section 5 and merging code samples or snipits into the documentation sections.

[2017-05-31 14:27] edwardmhunton commented on #9
I have written content for

- Pre-caching vod
- Device storage / local storage

but need to proof read / edit before pushing

[2017-06-20 13:44] joelkorpi commented on #8
I'm fine with removing section 5.

[2017-06-20 13:45] joelkorpi commented on #7
Are there any further thoughts on this or are we going to just reference the W3C Accessibility doc as mav suggested?

[2017-06-28 15:02] #8 closed, assigned to nobody

[2017-07-13 15:20] thasso opened #14 "Section 2.3 - Live Content Playback"
This section should follow the basic structure already described in 2.2 and highlight the following:

 * Content-Generation and the differences compared to VoD content
 * Content-Delivery for Live content
 * Content-Playback: How to Manifest updates work and how is/can the currentTime be reported by the player

The following use-cases might be interesting to highlight:
 * Reduce live edge latency

[2017-07-13 15:21] boyofgreen opened #15 "Section 2.6 Live Linear Streaming"
This area is being worked by Andy Beach (ms), and draft will be posted here for content.

[2017-07-18 14:27] mavgit commented on #7
As I stated in a meeting, I propose you include a reference to the W3C Web Content Accessibility Guidelines and include one related code example on captions and/or subtitles.

[2017-07-18 15:17] thasso commented on #15
@boyofgreen or Andy, could you maybe add a short bullet point list summarising what you are planing to add to this section? Since I am working on #14 I would like to see how the two sections would eventually align.

[2017-07-18 15:19] andybeach commented on #15
Yes, I’ll add a list today or tomorrow.

From: Thasso Griebel [mailto:notifications@github.com]
Sent: Tuesday, July 18, 2017 8:18 AM
To: w3c/webmediaguidelines <webmediaguidelines@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [w3c/webmediaguidelines] Section 2.6 Live Linear Streaming (#15)

[2017-07-18 15:41] thasso commented on #9
Since this is already merged with PR #12, I am closing.

[2017-07-18 15:41] #9 closed, assigned to nobody

[2017-07-19 20:47] andybeach commented on #15
posting this here for now as I'm running between meetings.  topics for live linear I though needed to be covered were:

	1) Differs from VOD and Live in that content is ingested from satellite, fiber, or IP and streamed in real-time (similar workflow to traditional cable channel).  Steam is generally multiple shows streamed in one long continuous session, not individually streamed programs.
	2) Co

[2017-07-24 21:56] joelkorpi commented on #14
I think perhaps we should also differentiate between live streaming delivery through real-time protocols like WebRTC and RTMP vs. delivery via HTTP (which is "near-live" but delayed because of the chunking in most setups).

[2017-07-24 22:11] joelkorpi opened #18 "Charts/graphs/visual aids for guidelines"
I think we could benefit from some visual aids to accompany some of the sections. Specifically when talking about content workflows regarding content delivery and adaptive streaming, I find it useful to include a visual aid. Do you or does your company have such visual aids that already exist that we could use?

Specifically, sections 2.4, 2.5, and 2.7 I believe would greatly benefit from this.

H

[2017-07-24 22:14] andybeach commented on #18
I think we might have some - I’ll have a look this week.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Joel Korpi <notifications@github.com>
Sent: Monday, July 24, 2017 3:11:57 PM
To: w3c/webmediaguidelines
Cc: Subscribed
Subject: [w3c/webmediaguidelines] Charts/graphs/visual aids for guidelines (#18)

I think we could benefit from some visual aids to accompan

[2017-07-25 20:48] edwardmhunton opened #19 "VOD Uses cases 2.2"
I will add content for the other vod uses cases as listed at the foot of the 2.2 section. Let me know if you already have material for these.

[2017-07-26 15:11] joelkorpi commented on #19
Thank you Edward. Just for clarity, you're referring to completing sections 2.8 and 2.10, correct?

A few other thoughts I had are:
 1. Should we move the VOD sections so that they are subsequent in the document?
 2. Should we add a use case for AVOD and/or SVOD?

[2017-07-26 15:15] edwardmhunton commented on #19
No, the missing bits of 2.2 is what I am refereeing to.

“Other possible VOD use cases

  *   Buffer manipulation (device / storage dependent)
  *   HTTP byte range requests
  *   HTTPs support
  *   Player event exposure
  *   HDCP security requirement for HDMI
  *   Watermarking
  *   Hardware acceleration support
“

The other bits I have written are 3.1 and 3.4

ed

--
Edward Hunton
Video Playe

[2017-07-26 15:56] edwardmhunton commented on #19
Hi Joel

How are we making a distinction between live streaming and live linear streaming? 2.3 / 2.6

Also, I have written material for client-side ad insertion but it’s in VOD use-cases. There’s no need to duplicate this?

ed

--
Edward Hunton
Video Player Developer, Core Platform Technology
Sky
Edward.hunton@sky.uk<mailto:Edward.hunton@sky.uk>

From: Joel Korpi <notifications@github.com>
Reply-T

[2017-07-27 15:26] boyofgreen opened #20 "secion 5 for Application Structure"
I'll be starting a new section that addressing the application structure to include browser apps, PWAs, Hosted Web Apps, Chrome Embedded Framework etc.  My target will be to deliver v1 for first week of august.
  Replay if you have any ideas for content for this section that I can write up, but basic structure as I see it now:
Web App Structure
-Intro
-Web App Content management approaches
  - Hos

[2017-08-04 16:15] joelkorpi commented on #20
Looks great! Excited to see the first draft.

[2017-08-15 14:33] #7 closed, assigned to nobody

[2017-08-17 15:21] joelkorpi opened #22 "New Section: Glossary"
I am drafting a new section for a glossary of terms so that we can conform our nomenclature internally between the different sections and provide a quick reference for users.

[2017-08-17 21:36] joelkorpi commented on #22
Opened PR for initial draft. Please add to the glossary terms that you think we need:
https://github.com/w3c/webmediaguidelines/pull/24

[2017-08-18 16:21] boyofgreen commented on #20
Please provide feedback, I know there are a number of link out opertunities I need to add in as well.

# Web App Structure

Media companies more and more are making their content and channels available where ever users are consuming media.  More often than not this includes the web and native app platforms.  As we see rise in media companies using web technologies to build cross platform apps (tha

[2017-08-18 19:45] joelkorpi commented on #20
Great outline Jeff! Fantastic start. I don't see any major issues. Mostly just the obvious stuff you're probably already aware of:

1. Feel like the "Web Based Platforms" sections needs more depth. Maybe a link to a sample app.
2. I suggest a diagram to show how Web Apps and their associated container and delivery mechanisms work together.
3. Excited to see the use cases fleshed out

[2017-08-28 15:01] #22 closed, assigned to nobody

[2017-08-28 15:06] joelkorpi commented on #19
Good question. I think we can delete "live linear" as it's redundant.

For the ad insertion side, I recommend we mention all ad insertion in a single section. @edwardmhunton

[2017-08-28 15:14] #14 closed, assigned to thasso

[2017-08-28 15:16] thasso opened #28 "Create a dedicated Section for Ad-Insertion"
As mentioned in #19, we should maybe consolidate all Ad-Insertion related topics in one section?

[2017-08-28 15:20] joelkorpi opened #29 "Clean up Section 2"
I propose removing the following sections for our draft:
2.5 Live Streaming with Client Side Ad Insertion
2.6 Live Linear Streaming
2.7 Live Linear Streaming with Client Side Ad Insertion
2.8 On-Demand Streaming with Trick Mode
2.9 Live Streaming with Trick Mode

[2017-08-28 15:20] joelkorpi commented on #28
Agree. Maybe let's move it to section 3?

[2017-08-28 15:22] thasso opened #30 "Merge sections about Thumbnails"
We should merge sections about thumbnails and do not explicitly differentiate between live and VoD use cases.
The only difference from the players perspective is how to get updates in case of live and it is not clear yet how this will be done in HLS or DASH.

[2017-08-28 15:22] joelkorpi commented on #30
Agreed!

[2017-08-28 15:27] joelkorpi commented on #15
Hey Andy, we removed this section because there was no content submitted yet but if you have content please add the section back into 2 and open a PR! @andybeach

[2017-08-28 15:28] joelkorpi commented on #18
@andybeach were you able to find any visual aids?

[2017-08-28 15:29] joelkorpi commented on #19
We are tracking this issue related to ad-insertion here: https://github.com/w3c/webmediaguidelines/issues/28

[2017-08-28 15:29] #19 closed, assigned to nobody

[2017-08-28 15:38] andybeach commented on #15
Sounds good

This email was typed in front of a live studio audience.

On Aug 28, 2017, at 8:27 AM, Joel Korpi <notifications@github.com<mailto:notifications@github.com>> wrote:

Hey Andy, we removed this section because there was no content submitted yet but if you have content please add the section back into 2 and open a PR! @andybeach<https://na01.safelinks.protection.outlook.com/?url=https%3A

[2017-08-28 15:40] joelkorpi commented on #29
Merged

[2017-08-28 15:40] #29 closed, assigned to nobody

[2017-08-30 19:56] joelkorpi commented on #30
@thasso Are you going to be able to submit this section by tomorrow? If not, I'll remove it.

[2017-08-30 19:56] joelkorpi commented on #28
@thasso Where did we end up on this? Are you going to move these sections?

[2017-08-30 19:57] joelkorpi commented on #20
This PR has been merged!

[2017-08-30 19:57] #20 closed, assigned to nobody

[2017-08-31 08:59] thasso commented on #28
I created PR #33 with this. I did follow you suggestion and moved it to section 3

[2017-08-31 09:45] thasso commented on #30
I pushed an initial version in PR #34

[2017-09-05 18:30] joelkorpi commented on #30
Closed

[2017-09-05 18:30] #30 closed, assigned to nobody

[2017-09-05 18:30] joelkorpi commented on #28
Closed

[2017-09-05 18:30] #28 closed, assigned to thasso

[2017-09-07 20:18] johnluther opened #39 "Internal spec review notes"
# Content comments:

- Seems to be something missing from the sentence "it will not direction to device manufactures or User Agent implementers"
- In "Content Generation" section of Streaming Overview, the way its written implies that content will always be DRM'd when in fact DRM is optional.
- In the "Content Playback" section of Streaming Overview, same DRM comment, we should make it clear that

[2017-09-11 14:45] joelkorpi commented on #39
Thanks for the detailed review, John! I'm fixing these issues now...

[2017-09-12 17:59] joelkorpi commented on #39
I addressed all of these issues in the latest merge! Please review and let me know if I missed anything @johnluther

[2017-09-13 12:10] #39 closed, assigned to nobody

[2017-09-19 07:19] mavgit opened #45 "Guidelines may want to consider additional sections to cover targeting TV, mobile & PC devices."
Previous W3C specs provided guidance for developers targeting mobile devices. [Mobile Web Application Best Practices](https://www.w3.org/TR/mwabp/) includes useful guidance for web app developers targeting mobile devices related to data usage, resource usage, security, privacy, device detection, etc.

Web media apps need to run on PC, mobile and TV devices, each of which have differences in screen

[2017-09-22 14:31] michelnev opened #46 "Section 1 Feedback"
I have a few suggestions for section 1 of the document.

1. In Scope, suggest changing "(applications that _has_ been developed for use on a particular platform or device)" to "(applications that **have** been developed for use on a particular platform or device)"

2.  In Glossary of Terms, suggest changing "In order to provide a common language to build this document and communicate concepts to t

[2017-09-25 21:40] michelnev opened #47 "Section 2 Feedback Through Section 2.6"
Please feel free to shoot holes in any of these suggestions:

1. In the first paragraph of Content Generation: I suggest adding mezzanine file to the glossary.  I'd suggest eliminating the use of "Original Content" and just use mezzanine file since "original content" is also used in section 3.3.1 to indicate the content to be played after leaving an Ad.  The first sentence says, "discussed in sect

[2017-09-26 14:58] joelkorpi commented on #47
Great feedback. Thank you!

[2017-09-26 15:28] joelkorpi opened #48 "Add "2017" to title"
Update title of guidelines to include "2017" to match other HATF spec

[2017-09-29 20:21] michelnev opened #49 "Section 2 Feedback Continued Through 2.9.1"
1. Section 2.7 suggestions: This sentence is unclear, please rephrase: "There are different levels of caching; popular VOD content is kept closer to the edge in the CDN network in this way it can be delivered to customers faster than an edge server that isn't tuned for high volume delivery."   Minor change here: "Older and less popular content is retained in a mid-tier **cache** **while** the long

[2017-10-04 15:31] mavgit opened #50 "Add 2017 to spec title"
Add "2017" to spec title as discussed during the TWG call.

[2017-10-04 15:42] davemevans opened #51 "Respec Issues"
Three ReSpec warnings are generated when the document is parsed:

* Process 2015 has been superceded by Process 2017.
* Insecure URLs are not allowed in respecConfig. Please change the following properties to 'https://': edDraftURI. ("no-http-props" x 1)
* All sections must start with a h2-6 element. Add a h2-6 to the offending section or use a <div>. See developer console. ("no-headingless-sectio

[2017-10-04 16:01] michelnev opened #52 "Section 2 Feedback Continued Section 2.10"
1. Section 2.10.1 suggestions:
  - Remove the "This is helpful in a few scenarios." sentence.
  - Update the final sentence of the first paragraph to something like: "In the VOD scenario where a user wants to access a specific location in a file, a range request allows the player to access content at a specific location without downloading the entire transport chunk."
  - Second sentence of the se

[2017-10-06 15:22] joelkorpi commented on #47
#1 - Clarify "original content" vs. "mezzanine file" in "Content Generation" - clarify that mezzanine is optional in workflow
#6 - 2.8 add "ABR algorithm" to glossary; clarify that not all implementations of ABR are based on thruput calculations
#11 - 2.4 change "media engine" to "media renderer" (add "media renderer" to glossary)
#12 - conform to "rendition" from "video quality" etc.

[2017-10-06 15:26] joelkorpi commented on #49
#2 - 2.8 - elaborate on "more detail" regarding HLS and DASH specifics as mentioned in the section

[2017-10-18 11:44] tidoust opened #53 "Add references to terms defined in the Glossary"
It is good practice to link back to the definition of a term whenever it gets used in the document. ReSpec makes that easy with the use of `<dfn>` and href-less `<a>` (see [Definitions and Linking](https://github.com/w3c/respec/wiki/User's-Guide#definitions-and-linking) in ReSpec's documentation).

Although easy, it does require some initial editorial work and a little bit of discipline afterwards

[2017-11-01 15:37] epiclabsDASH opened #55 "Client Side Ads Insertion - Live Streaming - In-Stream metadata"
One more point that I would like to bring to the table regarding CSAI and live streaming based on my experience.

Regarding live scenario (3.3.1), the most common use case I have seen is not related with using websockets but with using in-stream metadata (ex: using ID3 in HLS). This allows to trigger ads in all users at the same time and synced with the content.

Typically broadcasters use SCTE-10

[2017-11-01 15:55] epiclabsDASH opened #56 "Server Side Ad Insertion - Events Triggering"
Don't understand very well some of the context here. SSAI solutions that I have evaluated use SCTE-35 markers but just in the server side and as a way of triggering the insertion of ads. This ad insertion mechanism should be transparent to the player and those markers don't need to be interpreted by the player.

Given said this, what I have seen is SSAI solutions, based on markers read in the serv

[2017-11-02 07:18] sandersaares opened #57 "Rendition configuration examples in 4.2 should be more clearly fictional"
I assume the point of the rendition parameters table in 4.2 is to illustrate the choices that must be made.

To avoid readers misinterpreting this as some sort of "best practices" table, it should be more clearly made imaginary. Instead of referencing HEVC and H.264, it should be changed to say "codec A" and "codec B". Perhaps the headers should also say "Example bitrates" and "Example framerates"

[2017-11-02 07:27] sandersaares opened #58 "Describe live streaming resilience issues"
A common problem I see with live streaming in players is that missing data tends to completely crash the player and stop playback.

This can happen more easily in low latency scenarios, where a segment may need to be dropped due to temporary buffer fullness or network glitches. In such a scenario, it may be that segment N of a particular quality level is missing, while segment N of other quality l

[2017-11-02 07:33] sandersaares opened #59 "3.2 seems oddly Widevine specific"
The section mentions Widevine rather a lot and seems to base much of its content on how Widevine works. It should be worded in a more DRM-neutral fashion and be refactored to be more universal.

[2017-11-02 07:47] sandersaares opened #60 "3.2 is misleading in terms of how DRM activation occurs"
EME says that the "encrypted" event is simply a signal that initData was found in the media stream. Encrypted media can be consumed without ever containing initData in the media stream (e.g. when it is supplied externally) the description in 3.2 is misleading as it gives the impression that the "encrypted" event is a necessary part of the flow.

[2017-11-02 08:03] sandersaares opened #61 "Describe DRM handling with different track types with different policies"
Premium content has different track types: SD, HD, UHD, audio, 3D etc. Content owners want different content protection policies applied to each.

Accordingly, it follows that a specific device may be able to only play back a subset of the tracks present in a media presentation. It is important that players be able to handle such situations.

The authoritative source for evaluating the policy to b

[2017-11-02 16:11] joelkorpi commented on #50
Duplicate of Issue #48

[2017-11-02 16:11] #50 closed, assigned to nobody

[2017-11-02 20:06] joelkorpi commented on #48
PR #62 successfully merged into master

[2017-11-02 20:06] #48 closed, assigned to joelkorpi

[2017-11-02 20:39] joelkorpi commented on #46
Changes made and merged into master. PR #63

[2017-11-02 20:39] #46 closed, assigned to joelkorpi

[2017-11-03 13:39] epiclabsDASH commented on #58
Something to add: this same problem is also found in streams with timestamp alignment issues or with timestamp discontinuities (these two cases apply to both VOD and live).

Although in most of cases this type of issues are raising an encoding issue, in the video player implementation is always good to have a mechanism to jump those short timestamp gaps and increase playback resilience.

[2017-11-07 12:44] bwidtmann commented on #59
maybe you replace "Widevine" with "CDM"

[2017-11-09 16:08] johnluther opened #64 "Guidelines for 'emsg' in Type 3 players"
In the November 7 WAVE HATF call, it was suggested that this action item from October 2nd should have a Github Issue to track it:

"HATF Developer Guidelines spec to add guidelines for Type 3 players on extracting, processing, expressing and acting on emsg boxes with guidance for implementation."

See this WAVE thread for some background: https://standards.cta.tech/apps/org/workgroup/wtwg/email/ar

[2017-11-09 16:21] joelkorpi commented on #45
Hi Mark, Would this be more applicable to the integration spec? We could certainly add best practices here as well, just want to make sure it's in the right place.

[2017-12-08 20:08] joelkorpi commented on #47
Opened PR https://github.com/w3c/webmediaguidelines/pull/65

[2017-12-08 20:19] #47 closed, assigned to joelkorpi

[2017-12-18 16:09] mavgit opened #66 "Add a section on Media Capability Discovery"
The December 18, 2017 TWG call asked that the Developer Guidelines add a section on media capability discovery, e.g.:
- HTML spec API [HTMLMediaElement.canPlayType()](https://www.w3.org/TR/html51/single-page.html#the-media-elements)
- MSE spec API [MediaSource.isTypeSupported()](https://www.w3.org/TR/media-source/#methods)

[2018-01-17 20:54] epiclabsDASH opened #67 "Thumbnails support in DASH"
In the latest version of DASH-IF guidelines ([DASHIFIOP 4.1](http://dashif.org/wp-content/uploads/2017/09/DASH-IF-IOP-v4.1-clean.pdf)), the proposal regarding thumbnails support, valid for both live and vod streams, has been accepted and included (clause 3.2.9 and clause 6.2.6)

[2018-01-26 00:22] KilroyHughes commented on #64
The whitepaper overview on CMAF/DASH Event Messages was posted to HATF Kavi:
https://standards.cta.tech/apps/org/workgroup/hatf/download.php/22166/Event%20Messages%20in%20WAVE.docx
The main conclusion of its review at the CES F2F meeting was that W3C Data Cue Tracks would be very useful in communicating Event Messages from the media parser in the user agent to HTML5 applications that usually consu

[2018-02-05 20:54] mavgit opened #70 "Change Jeff Burtoft to Former Editor"
I understand from an email thread that Jeff Burtoft is no longer an editor. Please update the Editors section with a note that Jeff is a "Former Editor".

I understand the Respect syntax is shown [here](https://github.com/w3c/remote-playback/pull/96/commits/75b269e896b76d3279e7b5aa94d13760c737a7d0)

[2018-02-06 15:47] #64 closed, assigned to joelkorpi

[2018-02-27 15:48] joelkorpi commented on #70
Done!

[2018-02-27 15:48] #70 closed, assigned to joelkorpi

[2018-03-07 14:48] #51 closed, assigned to thasso

[2018-03-07 14:51] thasso commented on #18
I'd propose to close this one since we don't seem to get visuals in time.

[2018-03-07 15:16] thasso commented on #67
I updated the paragraph in PR #72 to reference DASH-IF and include an example.

[2018-03-07 15:23] thasso commented on #56
I think SCTE-35 markers (and others) are still valid on the client side, i.e the player. They might be needed for tracking purposes, but they are also required for UI modifications on the player. For example, a common use-case would be to disable seeking while an Ad is playing. So I think it is still valid to expect and handle some sort of trigger.

@epiclabsDASH I am proposing to close this issue

[2018-03-07 15:52] thasso commented on #59
I removed the very Widevine specific paragraph in PR #73. That should make it more generic and imo that paragraph was not really needed in this section.

[2018-03-07 16:41] thasso commented on #52
PR #74 integrates this feedback

[2018-03-07 23:06] #56 closed, assigned to thasso

[2018-03-13 15:11] thasso commented on #66
I will add a paragraph about this.

[2018-03-13 15:14] mavgit commented on #45
No, this is not a browser integration spec. It's an application spec. Dealing with these issues is too large a change to the spec for now.

[2018-03-13 15:22] #67 closed, assigned to nobody

[2018-03-13 15:24] #59 closed, assigned to thasso

[2018-03-13 15:27] thasso commented on #18
I move this to Milestone v2 and we can take another look at it for the next version

[2018-03-13 15:29] thasso commented on #15
@joelkorpi should we still try to do something about this one or maybe move it to v2 ?

[2018-03-13 17:15] joelkorpi commented on #15
I vote move it to v2 @thasso

[2018-03-13 17:18] joelkorpi commented on #45
Ok let's add this to milestone v2. Does that sound good? @mavgit @thasso

[2018-03-13 17:20] joelkorpi commented on #49
Added call for consensus label as my PR was submitted a while back. Will close out in a few days if no comments. @thasso

[2018-03-13 17:45] thasso commented on #45
Sounds good to me. I created two Milestones, v1 and v2 and I moved this one to v2.

[2018-03-13 17:57] joelkorpi commented on #55
Thanks for the feedback @epiclabsDASH ! I cleaned up this section a bit to incorporate some of your feedback. Please review: https://github.com/w3c/webmediaguidelines/pull/75

[2018-03-21 15:18] joelkorpi commented on #52
@thasso I'm going to close this one out! There were no further questions on the call today regarding this issue.

[2018-03-21 15:18] #52 closed, assigned to thasso

[2018-03-21 15:20] #49 closed, assigned to joelkorpi

[2018-03-21 16:57] mavgit commented on #55
Suggested in the call to change "Typically broadcasters..." to "Many broadcasters...", since "typically" implies a majority of worldwide broadcasters and we don't know that.

[2018-03-26 17:25] joelkorpi commented on #57
Updated spec per your comments @sandersaares in PR #76

[2018-03-27 11:53] thasso commented on #58
I created PR #77

[2018-03-27 12:02] thasso commented on #60
I added PR #78 to clarify that the encrypted event is not mandatory

[2018-04-26 15:08] #60 closed, assigned to thasso

[2018-04-26 15:08] #58 closed, assigned to thasso

[2018-04-26 15:09] #57 closed, assigned to joelkorpi

[2018-04-26 15:14] #55 closed, assigned to joelkorpi

[2018-04-26 16:03] joelkorpi commented on #53
Pushed my commit with the top-half glossary complete @thasso https://github.com/w3c/webmediaguidelines/pull/79

[2018-07-23 19:18] johnluther opened #80 "DRM in "Content Playback" section"
The steps assume DRM'd content. I'm not sure how relevant DRM here since the section is explaining general ABR playback principals.

Also, technically it is not the player that performs license key request creation and content decryption, it is the CDM.

[2018-07-24 16:31] joelkorpi commented on #80
Which section are you referring to @johnluther ?

[2018-07-24 17:51] johnluther commented on #80
Oops, sorry. Section 2.4.

[2018-07-30 16:30] paulhiggs opened #81 "Manifests and URLs in section 2.3 Content Delivery"
The second paragraph says this

If the manifest is passed to the player, then the player should not have to retrieve the manifest again. In light of this paragraph, it may be corrected to

The difference between the "origin" and "CDN" is difficult to determine in this paragraph. It is quite likely that the manifest URL is to the actual origin where the manifest is created. The CDN may use some oth

[2018-07-30 16:38] paulhiggs opened #82 "Section 2.4 Content Playback item 2"
Bullet #2 says

This does not answer the question as to what playback quality is selected by the client for retrieving the first video segment. This is typically a client based algorithm, we could have a note on this point to ensure completeness

[2018-07-30 16:44] paulhiggs opened #83 "Section 2.4 Content Playback, item #6"
Item 6 says

Since this entire section is about the player behavior, it may be better just to say
_It then adds the decrypted segment to the  video buffer._

[2018-07-30 16:47] paulhiggs opened #84 "Section 2.4 Content Playback, item #8"
The last sentence of item 8 says `higher bitrate child manifest`

This may be the case for some manifest solutions, but for DASH all the different bitrates are represented in the same AdaptationSet, thus there is no requirement to retrieve a different manifest due to rate adaptation.

[2018-07-30 16:49] paulhiggs opened #85 "Headings in section 2"
The current headings are

2.1 General Description
2.2 Content Generation
2.3 Content Delivery
2.4 Content Playback
2.5 On-Demand Streaming (VOD)
2.6 Content Generation
2.7 Content Delivery
2.8 Content Playback
2.9 VOD Pre-caching

It seems that

-  2.2, 2.3 and 2.4 should be sub headings under _2.1 General Description_
-  2.6, 2.7, 2.8 and 2.9 should be sub headings under _2.5 On-Demand Streaming

[2018-07-30 17:15] paulhiggs opened #86 "Formal reference to DASH-IF Guidelines"
Section 2.12 identified the `thumbnail_tile` as being defined in v3,0 of the DASH-IF guidelines.
Annex A refers to version 3.0 of the DASH-IF Guidelines.

This functionality was first published in v4.1 of the DASH-IF Guidelines.

The most recent version of the DASH-IF Guidelines is v4.2 (https://dashif.org/wp-content/uploads/2018/04/DASH-IF-IOP-v4.2-clean.pdf)

[2018-07-30 17:23] paulhiggs opened #87 "Use of unique device identifiers"
Section 3.1.2 gives some information about how unique device identifiers can be created but the specification does not seem to make any use of them.
While this paragraph is interesting, it would be useful to give a few examples of where the unique device identifier could be used and what impacts the application developer needs to consider.

[2018-08-22 16:15] thasso commented on #87
I think its a good point and I will take a look at section 3.1 in general and that specific paragraph. Right now I'm thinking of re-writing that to make clear that the device identification is primarily related to DRM and its internals and is in fact not suppose to leak out if that black box. I think the intention of Web API's is in fact the opposite and is intended to prevent easy device identifi

[2018-08-22 16:16] joelkorpi commented on #87
I will move section 3.3 into it's own section for Advertising as part of this.

[2018-08-22 16:16] thasso commented on #86
I will update the reference and link to v4.2

[2018-08-22 16:18] joelkorpi commented on #85
I will update this according to your feedback

[2018-08-22 16:23] thasso commented on #83
I will check that item, though I think what it should refer to is the Media Source Buffer and we are adding segments, but not necessarily decrypted segments. In case of encrypted/DRM protected content, the CDM will decrypt before or while the data is being pushed towards the decoder, but technically I think the Media Source Buffer does not contain decrypted content. But I will for sure add informa

[2018-08-22 16:24] thasso commented on #82
I agree and will add something to clarify

[2018-08-22 16:29] joelkorpi commented on #80
We suggest removing bullet #1 and #5 and adding a note below saying "steps will differ if DRM is used"

[2018-08-22 18:50] joelkorpi commented on #80
This issue has been resolved in PR #88

[2018-08-22 18:50] #80 closed, assigned to joelkorpi

[2018-08-22 19:09] joelkorpi commented on #81
Thank you Paul. This issue was addressed in PR #89

[2018-08-22 19:09] #81 closed, assigned to joelkorpi

[2018-08-30 13:55] joelkorpi commented on #85
This was updated per comments in a recent release

[2018-08-30 13:55] #85 closed, assigned to joelkorpi

[2018-10-16 21:42] thasso commented on #86
PR #92 addresses this. Unfortunatley I could not find a reference to the latest DASH-IF IOP
guidelines in refspec. Instead I replaced the reference with a link to the 4.2 guideline specs.

[2018-10-16 22:08] thasso commented on #82
I added PR #93 to address this.

[2018-10-16 22:23] thasso commented on #83
I added PR #94 that rewrite that item and hopefully clarifies what happens to the downloaded segment.

[2018-10-16 22:31] thasso commented on #84
Fixed this in PR #95

[2018-10-16 22:46] thasso commented on #87
I added PR #96 that adds some examples.

[2018-10-17 18:29] thasso commented on #86
I submitted a PR (https://github.com/tobie/specref/pull/482) to specref to get the DASHIF version update there. If that goes through I will change the link back to the specref version.

[2018-10-18 00:48] mavgit commented on #86
Thasso,

Nice job! SpecRef now references v4.2!!
                https://github.com/tobie/specref/pull/482/commits/c6370ec29cfa024cfb7a4d38d610d7a15b2b7388

…and the beauty of SpecRef is you get the updated reference without modifying your spec! ☺ (I checked.)

[2018-10-21 12:30] mavgit opened #97 "Need to fix 3 ReSpec errors"
The current draft shows 3 ReSpec errors that need fixing:

[2018-10-21 12:51] mavgit opened #98 "Remove "2018" from title."
As discussed in the Steering Committee last week, we should remove "2018" from the title of the developer spec, for a few reasons:
1. This is not a spec that needs to be updated every year, like the API Snapshot spec does.
2. It's taken a lot more time to complete this spec than originally expected and we are unlikely to publish an updated version in a year.
3. The prominent "2018" date will make

[2018-10-23 12:22] thasso commented on #86
Since specref is updated I propose to not update/merge the PR but just close this issue.

[2018-10-23 12:33] thasso commented on #97
PR #99 fixes this

[2018-10-23 12:36] thasso commented on #98
This is addressed in PR #100

[2018-10-23 13:29] mavgit commented on #86
I agree with just closing the issue.

[2018-10-25 14:57] #82 closed, assigned to thasso

[2018-10-25 14:58] #83 closed, assigned to thasso

[2018-10-25 14:59] #86 closed, assigned to thasso

[2018-10-25 14:59] #84 closed, assigned to thasso

[2018-10-25 15:00] #87 closed, assigned to thasso

[2018-10-25 15:12] #97 closed, assigned to nobody

[2018-10-25 15:14] #98 closed, assigned to nobody

[2018-11-06 18:13] johnluther opened #101 "Feedback from latest review"
In response to call for TWG review, here are my comments:

Across all sections, make use of Web or web capitalization consistent.

In the Abstract, should we remove this language since we don't expect annual updates? "This specification should be updated at least annually to keep pace with the evolving Web platform."

"It is not a W3C Standard nor is it on the W3C Standards Track." This seems to c

[2018-11-10 01:06] mavgit opened #102 "Update ReSpec metadata to match WMAS2018"
I updated the [ReSpec](https://github.com/w3c/respec/wiki) metadata in PR #103 to fix errors and match [WMAS2018](https://w3c.github.io/webmediaapi/) ReSpec metadata:
- deleted all author `mailto:` URLs because they get out of date.
- added `formerEditors` variable for Jeff Burtoft instead of writing "(former editor)".
- deleted `processVersion` variable because [it's unnecessary and discouraged](

[2018-11-14 17:25] mavgit opened #104 "Spec and references need to be marked as non-normative"
The Guidelines spec and all references need to be marked as non-normative.

I've sent an email, cc'ing editors, asking @tidoust for the best way to do this with ReSpec.

I also noted one erroneous anchor tag in section 3.3.2, paragraph 3: “\[[\<a>HLS\</a>]]” should be “\[[HLS]]”

[2018-11-15 00:44] mavgit commented on #104
Created pull request #105 to fix following sections:
- all: made all spec non-normative by adding `class="informative"` to `body` tag. Thanks, @tidoust!
- all: capitalized all spec references for consistency with WMAS2018.
- 1.2: changed _Web Content Accessibility Guidelines_ from a URL to a spec reference.
- 1.3: fixed erroneous [MPEG-CENC] to correct [MPEGCENC].
- 3.3.2: deleted erroneous anchor

[2018-11-15 00:47] #15 closed, assigned to nobody

[2018-11-15 00:47] #18 closed, assigned to nobody

[2018-11-15 00:47] #45 closed, assigned to nobody

[2018-11-15 00:47] #53 closed, assigned to joelkorpi

[2018-11-15 00:47] #61 closed, assigned to thasso

[2018-11-15 00:47] #66 closed, assigned to thasso

[2018-11-15 01:20] mavgit commented on #101
I agree that all of @johnluther's edits need fixing, except perhaps the following two:
1. Abstract & Status of This Document:

These two sentences are not in conflict, though they seem to be. The sentence "It is not a W3C Standard nor is it on the W3C Standards Track." is in the boilerplate W3C Status of This Document section for all Community Group specs and is a true statement of current fact -

[2018-11-15 14:41] johnluther commented on #101
Ah, I was misunderstanding the intention piece of it, thanks.

[2018-11-20 15:05] thasso commented on #101
I opened #106 with to address some of the issues mentioned here. However some of the things are still pending:

@joelkorpi opinions?

imo `.m4s` is commonly used so I kept it that way.

I could also not really figure out what that means, so any input here would be appreciated.

This one is not in the PR. I can try to come up with a definition but if somebody has one at hand I would appreciate that

[2018-11-28 16:33] thasso commented on #101
As agreed in the call I will remove 2.2.1 and replace linear with live.

[2018-11-28 16:40] thasso commented on #101
Changed are pushed to PR #106

[2018-11-28 16:42] #102 closed, assigned to nobody

[2018-11-28 16:42] #104 closed, assigned to nobody

[2018-11-28 16:45] #101 closed, assigned to thasso

[2022-02-02 16:54] JohnRiv opened #109 "Future updates to Web Media Application Developer Guidelines"
It has been a few years since the [Web Media Application Developer Guidelines](https://www.w3.org/2018/12/webmediaguidelines.html) document was published. It is worth considering if some/all of the document content is still useful and is worthy of an update.

If anyone is referencing the document, please comment on the relevant section(s) you find useful to help inform what the future of this effo

[2022-11-03 14:31] JohnRiv commented on #109
Given the lack of recent updates, we are [targeting these guidelines for deprecation in 2023](https://github.com/w3c/webmediaguidelines/tree/4c5214ba79dbb27e2fc4c2c319215900dbfd9b91#deprecation-notice). If you are using these guidelines and would like to see continued development of them, please comment here before the end of 2022.